/* root size */
#root {
  height: 80vh;
}

/* Post-list container */
.posts-container {
  margin-bottom: 80px; /* add some space at the bottom for the button */
}

/* Floating button styles */
.add-btn {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  background-color: #07cb00;
  border: none;
}

.add-btn:hover {
  background-color: #06b400;
}

.add-btn:active {
  background-color: #069d01 !important; /* change the background color on click */
}
.add-btn .btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 2rem;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
}

.back-btn {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  background-color: #bababa;
  border: none;
}

.back-btn:hover {
  background-color: #a1a1a1;
}

.back-btn:active {
  background-color: #878787 !important; /* change the background color on click */
}
.back-btn .btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 2rem;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
}


/* Edit/delete buttons admin */
.editButtons {
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  opacity: 0;
  background: transparent;
  transition: all 0.15s ease-in-out;
}

.card-background:hover .editButtons {
  z-index: 3;
  opacity: 1;
}

/* Post container in post list */
.posts-container-user {
  width: 80%;
  justify-content: center;
  align-items: center;
}

/* Card image for post item */
.card-img-user-post-wrapper {
  position: relative;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img-user-post-main {
  position: absolute;
  top: 0;
  left: 1;
  height: 280px;
  width: auto;
  z-index: 2;
  padding-top: 16px;
  padding-bottom: 4px;
}

.card-img-user-post-back {
  z-index: 1;
  max-height: 100%;
  max-width: 100%;
  padding: 11px;
  height: 300px;
  filter: blur(8px);
}
